
<!-- jQuery -->
<script src="__PUBLIC__/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="__PUBLIC__/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="__PUBLIC__/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="__PUBLIC__/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="__PUBLIC__/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- jQuery custom content scroller -->
<script src="__PUBLIC__/vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- iCheck -->
<script src="__PUBLIC__/vendors/iCheck/icheck.min.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="__PUBLIC__/vendors/moment/min/moment.min.js"></script>
<script src="__PUBLIC__/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- bootstrap-datetimepicker -->
<script src="__PUBLIC__/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<!-- bootstrap-wysiwyg -->
<script src="__PUBLIC__/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
<script src="__PUBLIC__/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="__PUBLIC__/vendors/google-code-prettify/src/prettify.js"></script>
<!-- jQuery Tags Input -->
<script src="__PUBLIC__/vendors/jquery.tagsinput/src/jquery.tagsinput.js"></script>
<!-- Autosize -->
<script src="__PUBLIC__/vendors/autosize/dist/autosize.min.js"></script>
<!-- Datatables -->
<script src="__PUBLIC__/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="__PUBLIC__/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<!-- Custom Theme Scripts -->
<!--<script src="__STATIC__/js/custom.min.js"></script>-->
<script src="__STATIC__/js/custom.js"></script>

<block name="script_extra"></block>